* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: montserrat;
}

body {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  width: 60%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.form-message {
  width: 60%;
  position: relative;
  height: 100px;
  overflow: hidden;
}

.form-message textarea {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  color: #595f6e;
  border: none;
  outline: none;
  resize: none;
}

.form-message label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form-message label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  left: 0;
  bottom: -2px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.message-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form-message textarea:focus + .label-name .message-name,
.form-message textarea:valid + .label-name .message-name {
  -webkit-transform: translateY(-450%);
          transform: translateY(-450%);
  font-size: 14px;
  color: #5fa8d3;
}

.form-message textarea:focus + .label-name::after,
.form-message textarea:valid + .label-name::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=style.css.map */